<!-- Why Choose Us -->
<section class="why-choose padding-top-30 padding-bottom-150" id="about">
  <div class="container">
    <div class="container-heading">
      <h4 class="blue">ABOUT Domocoin</h4>
      <p class="tagline">Community-oriented cryptocurrency</p>
    </div>

    <!-- Why Choose Us  ROW-->
    <div class="row">
      <div class="col-md-1 col-lg-1"></div>
      <div class="col-md-6 col-lg-6 margin-top-60">

        <!-- Tittle -->
        <!-- <div class="heading margin-bottom-20">
          <h6 class="margin-bottom-10">The world’s only enterprise blockchain solution for global payments</h6>
          <h4>Best Blockchain &amp; Better Than Any Blockchain</h4>
        </div> -->
        <p class="blue">Domocoin is a cryptocurrency based on a modified PivX code. It´s main purpose is the proof of ownership to access the DOMO community.</p>
        <p class="blue margin-top-30" style="font-weight: 900"><span class="blue">Only people </span><span class="orange">Owing atleast 1 Domocoin </span><span class="blue">will be able to login to the network</span></p>
        <p class="blue">By providing DOMO exclusive features and channels, we created an environment and userbase for our prototype, a open-source browser for social networks.</p>
        <div class="container text-center"><a href="#joinus" class="btn btn-inverse">Join Us</a></div>
        <p class="blue margin-top-30"> Domocoin is completely self-funded. No Premine, No Presale, No ICO. Join the team and earn Domocoins for your contributions!</p>
      </div>

      <!-- Image -->
      <div class="col-md-5 text-right"> <img src="image/object1.png" alt="Why Choose Us Image" > </div>
    </div>

    <!-- Services ROW -->

  </div>
</section>