<footer id="footer" style="background-image: url(image/email.png); background-size: cover; background-repeat: no-repeat;">
  <!-- Rights -->
  <div class="rights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>© 2019 The DOMO Project. </p>
        </div>
        <div class="col-md-6 text-right"> <a href="#.">FAQ </a> <a href="mailto:domocoin@gmx.net">Contact Us</a> </div>
      </div>
    </div>
  </div>
  <!-- <img src="image/email.png" class="img-responsive"> -->
</footer>