<header class="sticky">
  <div class="container">

    <!-- Logo -->
    <div class="logo"> <a href="index.html"><img class="img-responsive" src="image/logo.png" alt="" ></a> </div>
    <nav class="navbar ownmenu navbar-expand-lg">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav">
          <li class="scroll active"><a href="#home">Home</a></li>
          <li class="scroll"> <a href="#about">About Us </a> </li>
          <li class="scroll"> <a href="#download">Download</a> </li>
          <li class="scroll"> <a href="#joinus">Join Us</a> </li>
          <li class="scroll"> <a href="#partners">Partners</a> </li>
          <li class="scroll"> <a href="#news">News</a> </li>
          <li class="scroll"> <a href="#history">History</a> </li>
          <li class="scroll"><div id="selectLanguageDropdown" class="localizationTool"></div></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="clearfix"></div>
</header>