<section class="team style-2" id="news" style="background-color: #080a30">
  <div class="container margin-top-10">
    <div class="container-heading">
      <h3 class="blue">DOMO NEWS</h3>
    </div>
    <p class="blue text-center margin-top-60">Tweets by @domocoin</p>

    <div class="carousel-container">
  
      <div id="carousel">
        <div class="carousel-feature">
          <a href="#"><img class="carousel-image" alt="Image Caption" src="image/twitterbg.png"></a>
          <div class="carousel-caption">
            <p style="margin-bottom: 100px">
              We've been pretty silent in here recently. Don't worry we are s We've been pretty silent in here recently. Don't worry we are s We've been pretty silent in here recently. Don't worry we are s We've been pretty silent in here recently. Don't worry we are s
            </p>
            <p style="float: left;">Domocoin @ domocoin</p><p style="float: right;">14 April 2018</p>
          </div>
        </div>
        <div class="carousel-feature">
          <a href="#"><img class="carousel-image" alt="Image Caption" src="image/twitterbg.png"></a>
          <div class="carousel-caption">
            <p style="margin-bottom: 100px">
              We've been pretty silent in here recently. Don't worry we are s We've been pretty silent in here recently. Don't worry we are s We've been pretty silent in here recently. Don't worry we are s We've been pretty silent in here recently. Don't worry we are s
            </p>
            <p style="float: left;">Domocoin @ domocoin</p><p style="float: right;">14 April 2018</p>
          </div>
        </div>
        <div class="carousel-feature">
          <a href="#"><img class="carousel-image" alt="Image Caption" src="image/twitterbg.png"></a>
          <div class="carousel-caption">
            <p style="margin-bottom: 100px">
              We've been pretty silent in here recently. Don't worry we are s We've been pretty silent in here recently. Don't worry we are s We've been pretty silent in here recently. Don't worry we are s We've been pretty silent in here recently. Don't worry we are s
            </p>
            <p style="float: left;">Domocoin @ domocoin</p><p style="float: right;">14 April 2018</p>
          </div>
        </div>       
      </div>
    
      <div id="carousel-left"><img src="image/arrow-left.png" /></div>
      <div id="carousel-right"><img src="image/arrow-right.png" /></div>
    </div>

    <div class="d-md-none d-lg-none">
        <p class="tagline text-center">Note: Tweets are visible on big screens only</p>
    </div>
  </div>
</section>