<section id="donation">
	<div class="container">
		<div class="donation-align col-md-12 col-sm-12 col-xs-12">
		    <div class="col-md-4 col-sm-12 col-xs-12">
		      	<div class="bucket">
		      		<h6 class="bucket-title blue text-center">Mobile Wallets</h6>
		      		<h6 class="bucket-need blue">Amount<br>Needed</h6>
		      		<h6 class="bucket-raise blue">Amount<br>Raised</h6>
		      		<h4 class="bucket-money-t blue glow2">200$</h4>
		      		<h4 class="bucket-money-b blue glow">200$</h4>
		      		<img class="bucket-line-t" src="image/line.png" alt="bucket line">
		      		<img class="bucket-line-b" src="image/line.png" alt="bucket line">
		      		<img src="image/bucket-1.png" alt="bucket">
		      	</div>
		    </div>
		    <div class="col-md-4 col-sm-12 col-xs-12">
		      	<div class="bucket">
		      		<h6 class="bucket-title blue text-center">Blockchain<br>Governance</h6>
		      		<h6 class="bucket-need blue">Amount<br>Needed</h6>
		      		<h6 class="bucket-raise blue">Amount<br>Raised</h6>
		      		<h4 class="bucket-money-t blue glow3">200$</h4>
		      		<h4 class="bucket-money-b blue glow">200$</h4>
		      		<img class="bucket-line-t" src="image/line.png" alt="bucket line">
		      		<img class="bucket-line-b" src="image/line.png" alt="bucket line">
		      		<img src="image/bucket-2.png" alt="bucket">
		      	</div>
		    </div>
		    <div class="col-md-4 col-sm-12 col-xs-12">
		      	<div class="bucket">
		      		<h6 class="bucket-title blue text-center">General<br>development<br>fund</h6>
		      		<h6 class="bucket-need blue">Amount<br>Needed</h6>
		      		<h6 class="bucket-raise blue">Amount<br>Raised</h6>
		      		<h4 class="bucket-money-t blue glow4">200$</h4>
		      		<h4 class="bucket-money-b blue glow">200$</h4>
		      		<img class="bucket-line-t" src="image/line.png" alt="bucket line">
		      		<img class="bucket-line-b" src="image/line.png" alt="bucket line">
		      		<img src="image/bucket-3.png" alt="bucket">
		      	</div>
		    </div>
	    </div>
	 </div>
</section>