<footer id="footer">
  <div class="rights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>© 2019 The DOMO Project. </p>
        </div>
        <div class="col-md-6 text-right"> <a href="#.">FAQ </a> <a href="mailto:domocoin@gmx.net">Contact Us</a> </div>
      </div>
    </div>
  </div>
  <div class="text-center footer-email">
    <a href="mailto:domocoin@gmx.net"><img src="{{ site.baseurl }}/image/email.png" class="img-responsive"></a>
  </div>
</footer>