<section class="padding-top-100 padding-bottom-200" id="history">
  <div class="container">
    <div class="container-heading">
        <h3 class="blue">History</h3>
        <p class="tagline">How we became, who we are.</p>
    </div>
    <div class="d-none d-xs-block d-md-block" style="position: relative;">
      <div class="w-line"></div>
      <div class="row mt-5 pt-4">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-10 col-md-10">
          <div class="row">
            <div class="col-2 w-relative">
              <p class="blue text-center">06/2018<br>Domocoin - Release</p>
              <a href="#history-1" data-toggle="modal">
                <img src="image/his1.png" class="img-responsive history-link">
                <div class="history-pane"><div class="history-plus"><i class="far fa-paper-plane fa-2x"></i></div></div>
              </a>
            </div>
            <div class="col-2 w-relative">
              <a href="#history-1" data-toggle="modal">
                <img src="image/his2.png" class="img-responsive margin-top-60 history-link">
                <div class="history-pane"><div class="history-plus"><i class="far fa-paper-plane fa-2x"></i></div></div>
              </a>
              <p class="blue text-center margin-top-10">07/2018<br>Domocoin New Algorithm</p>
            </div>
            <div class="col-2 w-relative">
              <p class="blue text-center domo-history">12/2018<br>New Blockchain More Changes!</p>
              <a href="#history-1" data-toggle="modal">
                <img src="image/his3.png" class="img-responsive history-link">
                <div class="history-pane"><div class="history-plus"><i class="far fa-paper-plane fa-2x"></i></div></div>
              </a>
            </div>
            <div class="col-2 w-relative">
              <a href="#history-1" data-toggle="modal">
                <img src="image/his4.png" class="img-responsive margin-top-60 history-link">
                <div class="history-pane"><div class="history-plus"><i class="far fa-paper-plane fa-2x"></i></div></div>
              </a>
              <p class="blue text-center margin-top-10">01/2019<br>DOMO Community-Merge</p>
            </div>
            <div class="col-2 w-relative padding-top-60">
              <!-- <p class="blue text-center"></p> -->
              <a href="#history-1" data-toggle="modal">
                <img src="image/his5.png" class="img-responsive history-link">
                <div class="history-pane"><div class="history-plus"><i class="far fa-paper-plane fa-2x"></i></div></div>
              </a>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="d-md-none d-lg-none">
      <div class="road-map" style="background-color: transparent;">
        <ul class="edu-list margin-top-50">

        <!-- Jan 2018 -->
        <li> <span>06/2018</span>
          <h5 style="color: #049eb6;">Domocoin - Release</h5>
          <a href="#history-1" data-toggle="modal"><img src="image/his1.png"></a>
        </li>
         <li> <span>07/2018</span>
          <h5 style="color: #049eb6;">Domocoin New Algorithm</h5>
          <a href="#history-1" data-toggle="modal"><img src="image/his2.png"></a>
        </li>
         <li> <span>12/2018</span>
          <h5 style="color: #049eb6;">New Blockchain More Changes!</h5>
          <a href="#history-1" data-toggle="modal"><img src="image/his3.png"></a>
        </li>
         <li> <span>01/2019</span>
          <h5 style="color: #049eb6;">DOMO Community-Merge</h5>
          <a href="#history-1" data-toggle="modal"><img src="image/his4.png"></a>
        </li>
         <li> <span></span>
          <h5 style="color: #049eb6;"></h5>
          <a href="#history-1" data-toggle="modal"><img src="image/his5.png"></a>
        </li>
      </ul>
    </div>
    </div>
    <div class="container mt-5 pt-4" style="background:#7f7f7f; background:rgba(0,0,0,0.3);">
        <div class="container-heading">
          <h3 class="blue" style="line-height: 26px;">Community First</h3>
        </div>
        <div class="row margin-top-30">
          <div class="col-2"></div>
          <div class="col-8">
            <p class="blue text-center">By rewarding contributions in Domocoins, the Community becomes the main source for development tasks. Also, contributors get the chance to join the DOMO team and be hired for specific job listings.</p>
          </div>
        </div>
        <div class="row margin-top-10">
          <div class="col-2"></div>
          <div class="col-8">
            <p class="blue text-center">Below you can find currently outstanding development tasks. In order to realize those features, workforce needs to be paid. Send us a donation or apply for the job to make the features reality!</p>
          </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="history-1" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="modalTitle">Modal title</h5>
        </div>
        <div class="modal-body">
          <img src="image/his1.png" alt="domo history">&nbsp;&nbsp;&nbsp;06/2018 Domocoin release<br>
          <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>