<section class="dev-activ text-center padding-top-100" id="downloads">
  <div class="container" style="position: relative;">
    <div class="container-heading">
      <h4 class="blue wow bounceInLeft"><b>DOMO LINKS</b></h4>
      <p class="tagline margin-top-30 wow bounceInRight">Wallets, Sourcecode, Explorer. Everything you need to get started!</p>
    </div>
    <div class="container margin-top-80">
      <div class="parthner-links">
        <ul>
          <li class="br-s-1">
            <a href="https://github.com/Utopianer/DOMO-Project/releases/download/DOMO_Wallets_3.0.1.1/Domo.-.WINDOWS.Wallet.-.3.0.1.1.zip">
              <img src="{{ site.baseurl }}/image/windows.png" alt="">
              <p class="blue text-center margin-top-30">
                <span class="blue" style="color: #049eb6;">WINDOWS</span><br><span class="blue" style="color: #049eb6;">WALLET</span>
              </p>
            </a>
          </li>
          <li class="br-s-1 br-none">
            <a href="https://utopianer.github.io/DomoWalletGenerator/?currency=Domocoin">
              <img src="{{ site.baseurl }}/image/paper.png" class="img-responsive">
              <p class="blue text-center margin-top-30">
                <span class="blue" style="color: #049eb6;">PAPER</span><br><span class="blue" style="color: #049eb6;">WALLET</span>
              </p>
            </a>
          </li>
          <li class="br-s-1">
            <a href="https://github.com/Utopianer/DOMO-Project/releases/download/DOMO_Wallets_3.0/Mac_wallet_3.0.0.1.dmg">
              <img src="{{ site.baseurl }}/image/apple.png" class="img-responsive">
              <p class="blue text-center margin-top-30">
                <span class="blue" style="color: #049eb6;">MAC</span><br><span class="blue" style="color: #049eb6;">WALLET</span>
              </p>
            </a>
          </li>
          <li>
            <a href="https://github.com/Utopianer/DOMO-Project/releases">
              <img src="{{ site.baseurl }}/image/linux.png" class="img-responsive">
              <p class="blue text-center margin-top-30">
                <span class="blue" style="color: #049eb6;">LINUX</span><br><span class="blue" style="color: #049eb6;">WALLET</span>
              </p>
            </a>
          </li>
        </ul>
      </div>
      <div class="parthner-links bt-s-1">
        <ul class="mt-5">
          <li class="w-none" style="width:12%;"></li>
          <li class="br-s-1">
            <a href="http://explorer.domoproject.org/">
              <img src="{{ site.baseurl }}/image/block.png" alt="">
              <p class="blue text-center margin-top-30">
                <span class="blue" style="color: #049eb6;">BLOCK</span><br><span class="blue" style="color: #049eb6;">EXPLORER</span>
              </p>
            </a>
          </li>
          <li class="br-s-1 br-none">
            <a href="https://github.com/Utopianer/DomoCore">
              <img src="{{ site.baseurl }}/image/source.png" class="img-responsive">
              <p class="blue text-center margin-top-30">
                <span class="blue" style="color: #049eb6;">SOURCE</span><br><span class="blue" style="color: #049eb6;">CODE</span>
              </p>
            </a>
          </li>
          <li>
            <a href="https://github.com/Utopianer/DOMO-Project/tree/master/docs/Tutorials">
              <img src="{{ site.baseurl }}/image/master.png" class="img-responsive">
              <p class="blue text-center margin-top-30">
                <span class="blue" style="color: #049eb6;">MASTERNODE</span><br><span class="blue" style="color: #049eb6;">SETUP</span>
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="hexagon">
      <div class="wow zoomIn" data-wow-duration="1s" data-wow-offset="100" style="visibility: visible; animation-duration: 1s; animation-name: zoomIn;">
        <div class="wow tada" data-wow-delay="1s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: tada;">
          <div class="wow rubberBand" data-wow-delay="2000ms" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 2000ms; animation-name: rubberBand;">
            <div class="wow pulse animated" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 300ms; animation-iteration-count: infinite; animation-name: pulse;">
              <img src="{{ site.baseurl }}/image/object.png" class="d-sm-block d-xs-block">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>