<section class="team style-2 padding-top-100 pb-5" id="news">
  <div class="community-img">
    <img src="{{ site.baseurl }}/image/object5.png" class="d-none d-sm-block d-xs-block">
  </div>
  <div class="container">
    <div class="container-heading">
      <h3 class="blue">DOMO NEWS</h3>
    </div>
    <p class="blue text-center margin-top-60">Tweets by @domocoin</p>

    <div class="carousel-container w-xs-none">
      <div id="carousel">
        {% for post in site.posts %}
          <div class="carousel-feature">
            <a href="#">
              <img class="carousel-image" alt="Image Caption" src="{{ site.baseurl }}/image/twitterbg.png">
            </a>
            <div class="carousel-caption">
              <p style="font-weight:300;">
                {{ post.content }}
              </p>
              <p style="font-size: 14px;float: left;">{{ post.title }}</p>
              <p style="font-size: 14px;float: right;">{{ post.date | date: "%b %-d, %Y" }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="carousel-left"><img src="{{ site.baseurl }}/image/arrow-left.png" /></div>
      <div id="carousel-right"><img src="{{ site.baseurl }}/image/arrow-right.png" /></div>
    </div>

    <div class="d-sm-none d-md-none d-lg-none">
        {% for post in site.posts %}
          <div class="mobile-blog">
            <div class="blog-img">
              <a href="#">
                <img src="{{ site.baseurl }}/image/twitterbg-phone.png" alt="Image Caption"><br>
              </a>
            </div>
            <div class="blog-header">
              <p style="font-size: 14px;margin-bottom:0px;">{{ post.title }}</p>
              <p style="font-size: 14px;">{{ post.date | date: "%b %-d, %Y" }}</p>
            </div>
            
            <div class="blog-content">
              <p style="font-weight:300;">
                {{ post.content }}
              </p>
            </div>

          </div>
        {% endfor %}
    </div>
  </div>
</section>