<section class="road-map pb-5" data-stellar-background-ratio="0.7" id="community">
  <div class="padding-bottom-100" id="joinus"></div>
  <div class="container-heading">
      <h4 class="blue" style="padding-left: 5px; padding-right: 5px;line-height: 20px;">THE DOMO COMMUNITY</h4>
      <p class="tagline margin-top-30" style="padding-left: 5px; padding-right: 5px;">Join DOMO on one of many social networks...</p>
  </div>
  <div class="container">
    <div class="margin-top-50 text-center">
      <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="d-sm-block d-xs-block">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 mb-3 wow bounceInUp" style="animation-delay: .2s; animation-duration: 2s;">
              <a class="hover blue" href="https://twitter.com/domocoin">
                <img src="{{ site.baseurl }}/image/twitter.png" alt="" class="img-responsive margin-bottom-10 social-hover" width="120" style="-webkit-filter: drop-shadow(5px 5px 5px #049eb6); filter: drop-shadow(5px 5px 5px #049eb6);"><br>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TWITTER</b>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 mb-3 wow bounceInUp" style="animation-delay: .5s; animation-duration: 2s;">
              <a class="hover blue" href="https://discord.gg/W6QGnvB">
                <img src="{{ site.baseurl }}/image/discord.png" alt="" class="img-responsive margin-bottom-10 social-hover" width="120" style="-webkit-filter: drop-shadow(5px 5px 5px #049eb6); filter: drop-shadow(5px 5px 5px #049eb6);"><br>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DISCORD</b>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 mb-3 wow bounceInUp" style="animation-delay: .8s; animation-duration: 2s;">
              <a class="hover blue" href="https://t.me/DOMOproject">
                <img src="{{ site.baseurl }}/image/telegram.png" alt="" class="img-responsive margin-bottom-10 social-hover" width="120" style="-webkit-filter: drop-shadow(5px 5px 5px #049eb6); filter: drop-shadow(5px 5px 5px #049eb6);"><br>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TELEGRAM</b>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 mb-3 wow bounceInUp" style="animation-delay: 1.1s; animation-duration: 2s;">
              <a class="hover blue margin-left-10" href="https://bitcointalk.org/index.php?topic=5093957.0">
                <img src="{{ site.baseurl }}/image/btctalk.png" alt="" class="img-responsive margin-bottom-10 glow social-hover" width="120" style="-webkit-filter: drop-shadow(5px 5px 5px #049eb6); filter: drop-shadow(5px 5px 5px #049eb6);"><br>
                <b>&nbsp;&nbsp;&nbsp;BITCOINTALK </b>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-top-100" id="partners">
     <p class="blue text-center">Registration to the DOMO network (coming soon)</p>
  </div>
  <div class="container-heading margin-top-100 margin-top-30">
      <h4 class="blue"><b>PARTNERS</b></h4>
      <p class="tagline">Exchanges, Trackers and other Domocoin listed Services</p>
  </div>

  <div class="container mt-5">
    <div class="col-md-12 text-center partner-align">
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://altmarkets.io/trading/domobtc">
          <img src="{{ site.baseurl }}/image/altmarkets.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Altmarkets.io</h6>
        </a>
      </div>
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://bitexlive.com/exchange/BTC-DOMO">
          <img src="{{ site.baseurl }}/image/bitexlive.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Bitexlive.com</h6>
        </a>
      </div>
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://cratex.io/index.php?pair=DOMO/BTC">
          <img src="{{ site.baseurl }}/image/cratex.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Cratex.io</h6>
        </a>
      </div>
    </div>
    <div class="col-md-12 text-center partner-align">
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://www.raisex.io/trade/DOMO_BTC">
          <img src="{{ site.baseurl }}/image/raisex.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Raisex.io</h6>
        </a>
      </div>
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://wadax.io/trade/DOMOBTC">
          <img src="{{ site.baseurl }}/image/wadax.png" alt="" class="partners resize">
          <h6 class="blue text-center margin-top-10">Wadax.io</h6>
        </a>
      </div>
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://ihostmn.com/hostmn.php?coin=DOMO">
          <img src="{{ site.baseurl }}/image/ihostmn.png" alt="" class="partners resize">
          <h6 class="blue text-center margin-top-10">Ihostmn.com</h6>
        </a>
      </div>
    </div>
    <div class="col-md-12 text-center partner-align">
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://masternode-world.com/coininfo?coin=domocoin">
          <img src="{{ site.baseurl }}/image/masternodeworld.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Masternode-world.com</h6>
        </a>
      </div>
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://blockfolio.com">
          <img src="{{ site.baseurl }}/image/blockfolio.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Blockfolio.com</h6>
        </a>
      </div>
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://coinstats.app/liveprices/domocoin">
          <img src="{{ site.baseurl }}/image/coinstats.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Coinstats.app</h6>
        </a>
      </div>
    </div>
    <div class="col-md-12 text-center partner-align">
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://delta.app">
          <img src="{{ site.baseurl }}/image/delta.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Delta.io</h6>
        </a>
      </div>
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://coincodex.com/crypto/domocoin/">
          <img src="{{ site.baseurl }}/image/coincodex.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Coincodex.io</h6>
        </a>
      </div>
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://www.coingecko.com/en/coins/domocoin">
          <img src="{{ site.baseurl }}/image/coingecko.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Coingecko.com</h6>
        </a>
      </div>
    </div>
    <div class="col-md-12 text-center partner-align">
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://www.coinlore.com/coin/domo">
          <img src="{{ site.baseurl }}/image/coinlore.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Coinlore.com</h6>
        </a>
      </div>
      <div class="col-md-4 col-ms-6 col-xs-6 mb-4">
        <a href="https://coinpaprika.com/coin/domo-domo/">
          <img src="{{ site.baseurl }}/image/coinpaprika.png" alt="" class="partners">
          <h6 class="blue text-center margin-top-10">Coinpaprika.com</h6>
        </a>
      </div>
    </div>
  </div>
</section>